.navbarMainDivD{
display: flex;
flex-direction: row;
width: 100%;
position: fixed;
background-color: #FFFFFF;
z-index: 10000;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);


}

.CommonNavbar{

    display: flex;
    flex-direction: row;
    width: 85%;
  
    justify-content: space-around;
    align-items: center;
}
.Navleft-section{
    display: flex;
    align-items: center;
}
.navbarFollowers{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    margin-left: -3%;
}
.CNavLogo{
    width: 90px;
}
#DNImageLink{
    text-decoration: none;
}
.Navcenter-section{
    display: flex;
    gap: 50px;
    
    justify-content: center;
}
.Navbaractive{
    text-decoration-line: none;
    color: #14ABE4;

}
.NavbarInactive{
    text-decoration-line: none;
    color: black;
}
#navbarC3Typo{
    
    
    font-size: 22px;
    font-weight: 500;
   
}
#navbarC3Typo1{
    
    
    font-size: 22px;
    font-weight: 500;
   
}
#navbarC3Typo2{
    
    
    font-size: 22px;
    font-weight: 500;
   
}
.Navright-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.navDpCircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #14ABE4;
    
   
}
.navDpCircleImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    
    
}    
.navDpCircleIcon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    
  
}
#navDpCircleIcon1{
    font-size: 60px;
    color: #FFFFFF;
}
.arrow-button{
    font-size: 10px;
    color: black;
    margin-left: -10px;

    
}
#navbarFollowerButton{
padding: 4px;
border: 2px solid #14ABE4;
border-radius: 5px;
color: #14ABE4;
font-size: 14px;
font-weight: 600;
text-transform: none;
}
.navbarCdropdown-menuD1{
    display: flex;
    flex-direction: column;
    width: 31%;
    position: absolute;
    margin-top: 75px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);
    margin-left: -10%;
    background-color: #FFFFFF;
    z-index: 10;
    
    
}
.navdropHr{
    width: 100%;
    margin-top: 30px;
}
.navdropHr1{
    width: 100%;
    margin-bottom: 30px;
}
.navdropHr2{
    width: 100%;
    margin-top: 10px;
}
.navbarCdropdown-menuUL{
    list-style: none;
    
    
}
.navbarCdropdown-menuULLink{
    text-decoration-line: none;
    color: black;

}
.navbarCdropdown-menuLi{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 25px;
    cursor: pointer;
    
   
    
}
.navbarCdropdown-menuTypo{
    font-size: 16px;
    font-weight: 500
    
   
    
}
.navbarCdropdown-menuDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    
}
#NavbarCMenu{
    display: none;
}

.navbarCdropdown-menuD2{
    display: flex;
    flex-direction: column;
    width: 31%;
    position: absolute;
    top: -30%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);
    margin-left: -20%;
    background-color: #FFFFFF;
    z-index: 10;
    display: none;
    
}


@media (max-width:768px) {
    .navbarMainDivD{
       
    }
    .CommonNavbar{

        justify-content: left;
   
    }
    .CNavLogo{
        width: 70px;
        margin-left: 55%;
       
    }
    .Navcenter-section{
        display: none;
    }
    .Navright-section{
        display: none;
    }
    .navbarFollowers{
        display: flex;
       margin-right: 10%;
        align-items: center;
       
        
       
    }
    #navbarFollowerButton{
        padding: 3px;
        border: 1px solid #14ABE4;
        border-radius: 5px;
        color: #14ABE4;
        font-size: 12px;
        font-weight: 600;
    }

    #NavbarCMenu{
        display: block;
    }
    .navbarCdropdown-menuD2{
        display: flex;
        flex-direction: column;
        width: 45%;
        position: absolute;
        margin-top: 92px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.85);
        right: 12%;
        z-index: 10;
        background-color: #FFFFFF;
       
        
        
    }
}
@media (max-width:520px) {
    .navbarFollowers{
        display: flex;
       margin-right: 5%;
        align-items: center;
        gap:20px
       
        
       
    }
    .navbarCdropdown-menuD2{
      
        width: 60%;
       
        right: 7%;
    }

}
@media (max-width:400px) {
    .CNavLogo{
        width: 50px;
        margin-left: 25%;
       
    }
    #navbarFollowerButton{
        padding: 3px;
        border: 1px solid #14ABE4;
        border-radius: 5px;
        color: #14ABE4;
        font-size: 10px;
        font-weight: 600;
    }
    .navbarCdropdown-menuTypo{
        font-size: 14px;
        font-weight: 500
        
       
        
    }
    .navbarCdropdown-menuD2{
      
        width: 80%;
      margin-top: 65px;
        right: 7%;
    }

}