#AdminUserDetails_Heading {
  color: #717171;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#AdminUserDetails_SubHeading {
  color: #717171;
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 2vw;
}
#AdminUserDetails_SearchField {
  background-color: #d9d9d9;
  color: #535353;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-left: 1px solid #717171;
  padding: 1vw;
}
#AdminUserDetails_DropDown {
  background-color: #999;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 1vw;
  gap: 1vw;
}
#AdminUserDetails_customerMain {
  position: relative;
  width: 102%;
  margin-left: -15px;
  background-color: #45b8e9;
  height: 5vw;
}
#AdminUserDetails_customerMainHeader {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 8vw;
  padding-top: 1vw;
}
#AdminUserDetails_directorimg {
  display: flex;
  justify-content: end;
}
#AdminUserDetails_directorName {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}
#AdminUserDetails_directorRole {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
.adminUserhover-container {
  position: relative;
  margin-bottom: 3vw;
  transition: #fefefe 0.3s ease;
}

.adminUsericon-button-container {
  display: none;
}
.adminUserhover-container:hover {
  border-radius: 4px;
  background: #fefefe;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.adminUserhover-container:hover .adminUsericon-button-container {
  display: block;
}
.AdminUserDetails_BlockDetails {
  color: #717171;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 7px;
  padding-top: 6px;
}
#AdminUserDetails_viewDetailsbtn {
  border-radius: 9px;
  background: #45b8e9;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7vw;
  margin-left: 10vw;
  text-transform: capitalize;
  height: 4vw;
}
