.servicesMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
}
#serviceHeader {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#serviceSubhead {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
#serviceGetStart {
  border-radius: 5px;
  background: #14abe4;
  padding: 1vw;
}
#serviceGetStart2 {
  border-radius: 5px;
  background: #14abe4;
  padding: 1vw;
  margin-bottom: 3vw;
}
#serviceshead2 {
  color: #717171;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.servicesDirectorHead {
  border-radius: 11px;
  background: #fff;
  box-shadow: 10px 10px 10px 0px rgba(113, 113, 113, 0.25);
  padding: 1vw 3vw;
}
#servicesDirector {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.serviceUsersCard {
  background: #fff;
  box-shadow: 10px 10px 10px 0px rgba(113, 113, 113, 0.25);
  padding: 1vw;
  border-bottom: 4px solid #14abe4;
}
#serviceUsersCardHead {
  color: #717171;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 2vw;
  padding-top: 1vw;
}
#serviceUsersCardBody {
  color: #717171;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1025px) {
  #serviceGetStart {
    display: none;
  }
  #serviceGetStart2 {
    padding: 2vw;
  }
}
@media (min-width: 1025px) {
  #serviceGetStart2 {
    display: none;
  }
}

@media (max-width: 800px) {
  #serviceHeader {
    color: #000;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #serviceGetStart2 {
    border-radius: 5px;
    background: #14abe4;
    padding: 2vw;
  }
  #serviceSubhead {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3vw;
    padding-bottom: 5vw;
  }
}
@media (max-width: 600px) {
  #serviceshead2 {
    color: #717171;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #serviceGetStart2 {
    border-radius: 5px;
    background: #14abe4;
    padding: 4vw;
    margin-bottom: 10vw;
  }
}
@media (max-width: 400px) {
  #serviceshead2 {
    color: #717171;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #serviceHeader {
    color: #000;
    font-family: Inter;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #serviceSubhead {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3vw;
    padding-bottom: 5vw;
  }
}
