.Loginmain {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  background-color: #45b8e9;
  overflow-x: hidden;
}

.Navbar {
  display: none;
}

.selection {
  position: absolute;
  top: 150px;
  left: 155px;
  width: 45%;
  height: 35px;
  gap: 20px;
  border: 0;
  background: #f5f5f5;
  border-radius: 5px;
  font-family: inter;
}

.email {
  width: 85%;
  height: 35px;
  gap: 20px;
  position: relative;
  top: 120px;
  left: 19px;
  border: 0;
  background: #f5f5f5;
  border-radius: 5px;
  font-family: inter;
}

.pass {
  width: 85%;
  height: 35px;
  gap: 10px;
  position: relative;
  top: 130px;
  left: 19px;
  border: white;
  font-family: inter;
  background: #f5f5f5;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.llbutt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 85%;
  height: 35px;
  left: 22px;
  top: 150px;
  background: #14abe4;
  border-color: #14abe4;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* .lsub{
      display: flex;
      flex-direction: row;
    } */
.box {
  position: absolute;
  width: 340px;
  height: 502px;
  left: 60%;
  top: 35px;
  background: white;
  border-radius: 35px;
  border: 0;
}

.siconbutton23 {
  position: absolute;
  top: 243px;
  margin-left: -10px;
}

.t1 {
  position: relative;
  top: 120px;
  left: 15px;
  font-weight: bold;
}

.link1 {
  position: relative;
  left: 20px;
  top: 165px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.link2 {
  position: relative;
  margin-top: 170px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.link9 {
  position: relative;
  margin-left: 150px;
  top: -27px;
  font-size: 12px;
}

.te4 {
  color: white;
  font-size: 38px;
  position: relative;
  left: 100px;
  top: 0px;
}

.p1 {
  color: white;
  font-size: 18px;
  position: relative;
  top: 35px;
  left: 110px;
}

.lim1 {
  position: relative;
  top: -40px;
  left: 335px;
  height: 399px;
  width: auto;
}

@media (max-width: 420px) {
  .lim1 {
    width: 140px;
    height: 140px;
    top: 400px;
    left: 430px;
  }

  .box {
    left: 100px;
    top: 130px;
  }

  .siconbutton23 {
    position: absolute;
    top: 228px;
    margin-left: -10px;
  }

  .te4 {
    top: 5px;
    left: 70px;
  }

  .p1 {
    display: none;
  }

  .selection {
    top: 120px;
    left: 120px;
  }
}

@media (max-width: 426px) {
  .lim1 {
    display: none;
  }

  /* .box {
    position: absolute;
    left: 100px;
    top: 130px;
  } */

  .p1 {
    display: none;
  }
  .te4 {
    color: white !important;
    font-size: 29px !important;
    position: absolute !important;
    left: 69px !important;
    top: 85px !important;
  }
  .box {
    top: 24% !important;
  }
}

@media (max-width: 768px) {
  .lim1 {
    display: none;
  }

  .box {
    left: 20%;
    top: 30%;
  }

  .te4 {
    position: absolute;
    top: 1px;
    left: 30px;
  }

  .p1 {
    display: none;
  }
}

@media (max-width: 450px) {
  .box {
    width: 70%;
    position: relative;
    left: -1px;
    margin-left: 20%;
  }
  .selection {
    top: 120px;
    left: 130px;
  }
  .siconbutton23 {
    position: absolute;
    top: 228px;
    margin-left: -10px;
  }
}

@media (max-width: 350px) {
  .box {
    width: 80%;
    position: relative;
    left: -1px;
    margin-left: 12%;
  }
}

.Loginmain {
  position: absolute;
  width: 100%;
}
