.DPMAin {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.DPMainSub {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 200px;
  align-items: center;
  margin-bottom: 80px;
}

.DPLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.DPLeftImg {
  width: 40%;
  margin: auto;
}

.DPRight {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.DPRBox {
  width: 75%;
  background: white;
  border-radius: 25px;
  border-color: black;
  border: solid 1px rgb(222, 220, 220);

  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-left: 5%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.DPRAI {
  display: flex;
  margin: auto;
  margin-top: 5px;
}

.DPRImg {
  display: flex;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.DPRInput {
  width: 80%;
  gap: 20px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.Dname,
.Dbio,
.Dmail,
.Dphone {
  display: flex;
  margin: auto;
  min-height: 30px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(238, 237, 237);
  border-color: rgb(238, 237, 237);
  width: 80%;
}

.DPRbutton {
  display: flex;
  margin: auto;
  background-color: #14abe4;
  border-color: #14abe4;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 85%;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  padding: 10px;
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.DPRUpdateButton{
   display: flex;
   flex-direction: row;
  margin: auto;
  background-color: #14abe4;
  border-color: #14abe4;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 85%;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  padding: 10px;
  width: 100px;
  height: 30px;
  font-size: 15px;
}
@media (max-width: 768px) {
  .DPMainSub {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .DPLeft {
    width: 100%;
  }

  .DPRight {
    width: 100%;
    justify-content: center;
  }

  .DPRBox {
    width: 70%;
    background: white;
    border-radius: 25px;
    border-color: black;
    border: solid 1px rgb(200, 199, 199);
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-left: 15%;
    height: 650px;
  }
}

@media (max-width: 426px) {
  .DPMainSub {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .DPLeft {
    width: 100%;
  }

  .DPRight {
    width: 100%;
    justify-content: center;
  }

  .DPRBox {
    width: 70%;
    background: white;
    border-radius: 25px;
    border-color: black;
    border: solid 1px rgb(200, 199, 199);

    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-left: 15%;
    height: 650px;
  }
}