.body1 {
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    background-color: #45B8E9;
    overflow-x: hidden;
  }
  
  
  .Navbar {
    display: none;
  }
  
  .Pass112 {
    width: 85%;
    height: 30px;
    gap: 20px;
    position: relative;
    top: 110px;
    left: 19px;
    border: 0;
    background: #F5F5F5;
    border-radius: 5px;
    font-family: inter;
  }
  
  .Pare1 {
    width: 85%;
    height: 30px;
    gap: 20px;
    position: absolute;
    top: 235px;
    left: 19px;
    border: 0;
    background: #F5F5F5;
    border-radius: 5px;
    font-family: inter;
  }
  
  .rbutt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 85%;
    height: 35px;
    left: 22px;
    top: 150px;
    background: #14ABE4;
    border-color: #14ABE4;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .rbox {
    position: absolute;
    width: 340px;
    height: 502px;
    left: 60%;
    top: 35px;
    background: white;
    border-radius: 35px;
    border: 0;
  }
  
  .eye1 {
    position: absolute;
    top: 186px;
    left: 280px;
  }
  
  .eye2 {
    position: absolute;
    top: 240px;
    left: 280px;
  }
  .t134 {
    position: relative;
    top: 120px;
    left: 15px;
    font-weight: bold;
  }
  
  .link1 {
    position: relative;
    left: 20px;
    top: 165px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }
  
  
  .te445 {
    color: white;
    font-size: 38px;
    position: absolute;
    left: 50px;
    top: 0px;
  }
  
  .p1112 {
    color: white;
    font-size: 18px;
    position: relative;
    top: 20%;
    left: 80px;
  }
  
  .im156 {
    position: absolute;
    top: 28%;
    left: 335px;
    height: 399px;
    width: auto;
  }
  
  @media (max-width: 420px) {
    .im156 {
      width: 140px;
      height: 140px;
      top: 400px;
      left: 430px;
    }
  
    .eye1 {
      position: absolute;
      top: 200px;
      left: 280px;
    }
  
    .eye2 {
      position: absolute;
      top: 240px;
      left: 280px;
    }
  
    .Pare1 {
      top: 215px;
    }
  
    .rbox {
      left: 100px;
      top: 130px;
    }
  
    .tete44 {
      color: white;
      font-size: 38px;
      position: relative;
      left: 100px;
      top: 0px;
    }
  
    .p1112 {
      display: none;
    }
  }
  
  @media (max-width: 426px) {
    .im156 {
      display: none;
    }
  /* 
    .eye1 {
      position: absolute;
      margin-top: -20px;
      margin-left: -30px;
    }
  
    .eye2 {
      position: absolute;
      margin-top: -18px;
      margin-left: -30px;
    } */
  
    .rbox {
      position: absolute;
      left: 100px;
      top: 130px;
    }
  
    .te44 {
      color: white;
      font-size: 38px;
      position: relative;
      left: 100px;
      top: 0px;
    }
  
    .p1112 {
      display: none;
    }
  
    .Pare1 {
      top: 215px;
    }
  
  }
  
  @media (max-width: 768px) {
    .im156 {
      position: absolute;
      left: 70%;
      top: 70%;
      width: 30%;
      height: 30%;
    }
  
    /* .eye1 {
      position: absolute;
      margin-top: 20px;
      left: 180px;
    }
  
    .eye2 {
      position: absolute;
     margin-top: 200px;
      left: 280px;
    } */
  
    .rbox {
      left: 20%;
      top: 30%;
    }
  
    .te445 {
      display: none;
    }
  
    .p1112 {
      display: none;
    }
  }
  
  @media (max-width: 450px) {
    .rbox {
      width: 70%;
      position: relative;
      left: -1px;
      margin-left: 20%;
    }
    .eye1 {
      position: absolute;
      top: 170px;
      left: 80%;
    }
    
    .eye2 {
      position: absolute;
      top: 220px;
      left: 80%;
    }
    .Pare1 {
      width: 85%;
      height: 35px;
      gap: 20px;
      position: absolute;
      top: 215px;
      left: 19px;
      border: 0;
      background: #F5F5F5;
      border-radius: 5px;
      font-family: inter;
    }
  }
  
  @media (max-width: 350px) {
    .rbox {
      width: 80%;
      position: relative;
      left: -1px;
      margin-left: 7%;
    }
  }
  
  
  
  .body1 {
    position: absolute;
    width: 100%;
  }
  @media  (max-width: 374px) {
    /* .eye1 {
      position: absolute;
      margin-top: -20px;
      margin-left: -70px;
    }
  
    .eye2 {
      position: absolute;
      margin-top: -18px;
      margin-left: -70px;
    } */
  
  }
  
    @media only screen and (max-width: 375px) {
  
      
    /* .eye1 {
      position: absolute;
      margin-top: -20px;
      margin-left: -70px;
    }
  
    .eye2 {
      position: absolute;
      margin-top: -18px;
      margin-left: -70px;
    }
    } */
  
    }